* {
  font-smooth: always;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #e33b3b 0%, #ff357f 25%, #9844b7 50%, #576fe6 100%);
  animation: background 20s ease infinite;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container,
footer {
  max-width: 980px;
  margin: 0 auto;
}

.container {
  padding: 40px;
  overflow: hidden;
}

.brand,
.credit {
  fill: white;
}

.brand {
  width: 50px;
  margin: 0 auto;
}

.brand,
main,
footer {
  text-align: center;
}

.display {
  font-family: "salomeregular", "Playfair Display", serif;
  color: white;
  font-size: 5rem;
  margin: 8rem auto 3rem;
  text-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5);
}

button {
  vertical-align: bottom;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}

button.copy {
  color: white;
  border: .125rem solid white;
  font-size: 0.9rem;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: transparent;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.5s ease;
}

button.copy:hover {
  transform: scale(1.05);
}

span {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}

button.refresh {
  height: 46px;
  width: 46px;
  border-radius: 100%;
  padding: 10px;
  font-size: 0.9rem;
  margin-left: 10px;
  background-color: white;
  color: #9844B7;
  border: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: spin-back 0.75s ease-out;
}

button.refresh:hover {
  cursor: pointer;
  animation: spin 0.75s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-back {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(359deg);
  }
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: white;
  outline: none;
}

footer {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  bottom: 0;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

footer .social {
  margin: 30px 0 0 0;
}

.credit {
  width: 20px;
  margin: 0 auto;
  display: inline-block;
  padding-right: 20px;
}

.twitter,
.github {
  cursor: pointer;
  font-size: 1.5rem;
  display: inline;
  width: 100%;
  margin-right: 20px;
}

.twitter:last-of-type,
.github:last-of-type {
  margin-right: 0;
}
